@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
    background-color: #EFF0F6;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.circle{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: #D7D7F9;  
    z-index: 0;
}
#first{
    position: absolute;
    bottom: -200px;
    left: -100px;
}
#second{
    position: absolute;
    right: -100px;
    top: -200px;
}
#third{
    position: absolute;
    bottom: -400px;
    right: -200px;
}


/* Container */

.main__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.menu__container, .cart__container{
    box-shadow: 1px 1px 10px 2px #D7D7F9;
    border-radius: 15px;
    padding: 1rem;
    background-color: #fff;
    z-index: 1;
    height: 60vh;
    width: 15vw;
    overflow-y: scroll;
}
.menu__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menu__container--title, .cart__container--title{
    font-size: 28px;
    font-weight: 700;
    padding: 2rem 1rem 1rem 1rem;
}
.menu__element{
    background-color: rgba(200,200,200, .4);
    display: flex;
    border-radius: 10px;
    min-height: 20%;
    left: 0;
}
.menu__element:nth-child(2n+1){
    background-color: rgba(72, 184, 150, 0.4);
}
.menu__element--image{
    position: relative;
    width: 40%;
}
.menu__element--image img {
    top: -1rem;
    left: -1rem;
    position: absolute;
    width: 8rem;
}
.menu__element--price{
    font-weight: 700;
    font-size: 24px;
}
.menu__element--add{
    border: none;
    border-radius: 10px;
    background-color: #6B00F5;
    color: white;
    padding: .3rem 1rem;
    font-weight: 700;
}
.menu__element--add:disabled{
    background-color: black;
}

.cart__element{
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
    padding: 1rem 0;
}
.cart__element--image{
    position: relative;
    width: 20%;
}
.cart__element--image img{
    width: 100%;
}
.cart__element--left{
    padding: 0 1rem;
    width: 100%;
}
.cart__element--uprice{
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
}
.cart__element--button{
    background-color: #6B00F5;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    outline: none;
    max-height: 1.7rem;
}
.cart__element--button:active{
    transform: scale(.9);
    outline: none;
}
.cart__element--button:disabled{
    opacity: .7;
}
.cart__element--qty{
    display: flex;
    flex-direction: row;
}
.cart__element--quantity{
    font-size: 1rem;
    padding: 0 .5rem;
}
.cart__element--tprice{
    text-align: left;
    font-weight: 700;
    font-size: 1.5rem;
}
.cart__element--qprice{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
}
